.App {
  text-align: center;
}


header {
  /* background-color: #b3b4bd; */
  /* background-color: #241452; */
  background-color: #141619;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}


h1 {
  /* color: #141619; */
  color: white;
}

.container {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #b3b4bd; */
  background-color: #241452;
  
}

