html {
    box-sizing: border-box;
}

.playListHeading {
    text-align: left;
    
}

.container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 33vw;
    align-items: baseline;
    margin-top: 50px;
    color: white;
    margin-top: 50px;
    width: 33vw;
    background-color: #141619;
    border-radius: 10px;
    min-height: 57vh;

}

.playListTitleInput {
    box-sizing: content-box;
    width: 95%;
    margin: 25px auto 50px auto;
    height: 40%;
    border: none;
    background-color: white;
    color: #141619;;
    padding: 15px 0; 
    
}

/* ::placeholder {
    color: white;
} */

.playListForm {
    
    width: 100%;
}

.submitButton{
    width: 25%;
    border-radius: 60px;
    height: 30%;
    font-size: 1.2rem;
}


button:hover {
    cursor: pointer;
    background-color: #241452;
    color: white;
}
